# Prerequisites
*.d

# Compiled Object files
/build/
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.a

# Executables
*.exe
/textx

# Core dumps
*.stacktrace
core.*
vgcore.*

# Eclipse related files
/.project
/.cproject
/.settings/
/Debug/
/Release/
